.visit-plus{
    background-color: rgb(68, 62, 62);
    color: white;
    cursor: pointer;
    font-family: 'Barlow', sans-serif !important;
}
.visit-plus-child{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow', sans-serif !important;
}
.logo{
    font-family: 'Barlow', sans-serif;
}

.logo:hover{
    color: rgb(34, 34, 189);
}

.footer{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif !important;
    margin-top: 1rem;
    background-color: rgb(68, 62, 62);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 900px) {
    .footer h3{
        font-size: 12px;
    }
}